body {
  font-family: "Roboto Slab", sans-serif;
}

header {
  margin: 0;
  padding: 10px 30px;
  background: #1b78cf;
  color: #dce0e6;
  font-size: 1.5rem;
}

header h1 {
  margin: 0;
  padding: 0;
}

.block {
  height: 75px;
  width: 60px;
  margin: 7px;
  line-height: 75px;
  text-align: center;
  border: 3px solid gray;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: center;
}

.keyboard-button {
  margin: 5px;
  font-size: 1.2rem;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.success {
  background: #2bd40d;
}

.warning {
  background: #ebd80e;
}

.unavailable {
  background: #ababab;
}

#gameboard {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#keyboard {
  margin-top: 20px;
}

@media only screen and (max-width: 500px) {
  header {
    padding: 5px 15px;
    font-size: 1rem;
  }

  .block {
    height: 50px;
    width: 40px;
    margin: 3px;
    line-height: 50px;
    font-size: 1rem;
  }

  .keyboard-button {
    margin: 3px;
    font-size: 0.6rem;
  }

  #keyboard {
    margin-top: 10px;
  }
}
