/* Element selectors */
body {
  font-family: "Roboto Slab", sans-serif;
}

header {
  margin: 0;
  padding: 10px 30px;
  background: #1b78cf;
  color: #dce0e6;
  font-size: 1.5rem;
}

header h1 {
  margin: 0;
  padding: 0;
}

/* Class selectors */
.active-border {
  border: 2px solid black;
}

.block {
  height: 65px;
  width: 65px;
  margin: 7px;
  line-height: 65px;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.inactive-border {
  border: 2px solid gray;
}

.keyboard-button {
  min-width: 40px;
  margin: 5px;
  padding: 5px;
  width: auto;
  height: 60px;
  font-size: 1.2rem;
}

.row {
  display: flex;
  justify-content: center;
}

/* Colors */
.green {
  background: #2bd40d;
}

.yellow {
  background: #ebd80e;
}

.dark-gray {
  background: #ababab;
}

.gray {
  background: #ebebeb;
}

/* ID selectors */
#gameboard {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#keyboard {
  margin-top: 20px;
}

@media only screen and (max-width: 500px) {
  header {
    padding: 5px 15px;
    font-size: 1rem;
  }

  .block {
    height: 40px;
    width: 40px;
    margin: 3px;
    line-height: 40px;
    font-size: 1.1rem;
  }

  .container {
    width: 100vw;
  }

  .keyboard-button {
    min-width: 25px;
    margin: 3px;
    padding: 5px;
    width: auto;
    height: 50px;
    font-size: 0.8rem;
  }

  #keyboard {
    margin-top: 10px;
  }
}
